<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Embedded IDE</Name>
    <Version>0.4.0</Version>
    <Title>Embedded IDE Installer</Title>
    <Publisher>Rusotech</Publisher>
    <StartMenuDir>Embedded IDE</StartMenuDir>
    <TargetDir>@ApplicationsDir@/EmbeddedIDE</TargetDir>
</Installer>
